.invi-step2-box,
.invi-step1-box {
	-moz-box-shadow:    inset 0 0 20px #dddddd;
	-webkit-box-shadow: inset 0 0 20px #dddddd;
	box-shadow:         inset 0 0 20px #dddddd;
  }


body {
	font-family: Arial !important; /* Fallback */
	/*color: #999999; */
	}
	/* Fallbacks! */
.mundofont, 
.invi-step1-box .step1-box-title,
.invi-step1-box .step1-box-left .s1-box-left-tit,
.invi-step1-box .step1-box-right .s1-right-text .s1-right-text-item,
.step1-box-right .s1-right-form .s1-right-form-title,
.invitation-step2 .header-content .slogan,	
.invi-step2-box .invi-s2-tit,
.invi-step2-box .invi-s2-top .s2-top-left .s2-tl-tit, 
.invi-step2-box .invi-s2-top .s2-top-right .s2-tr-tit {
	font-family: 'Mundo Sans W02 Italic', Arial;
	}
	
.s2-tr-tit  {
font-size: 16px !important;
margin-bottom: 10px;
font-family: 'Mundo Sans W02 Italic', Arial;
font-weight:bold;
line-height: 18px;
}

.invi-step2-box .invi-s2-tit {
font-weight: bold !important;
color: #333 !important;
}
.invitation-step2 .invi-s2-top {
margin-top:50px;
	}

.kilian-bluebox-padding-top {
	clear:both;
	padding-top: 22px; 
}

.kilian-bluebox-padding-top2 {
	clear:both;
	min-height: 2px; 
	padding-top:8px; 
	padding-bottom:2px; 
	margin-top: 0px; 
}


.kilian-bluebox {
	background-image:url('kilian-bg-blue-pat1.png');
	background-repeat:repeat;
	padding: 16px 22px 16px 22px;
	/* margin: 0px 16px 20px;	*/

	border: 1px solid #dadad5;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	width:250px;
	height:120px;
	float:left;
	text-align: center; 
	font-family: 'Mundo Sans W02 Italic', Arial;
}
.kilian-bluebox-title {
font-size: 17px;
color: #fefefe;
margin-bottom: 10px;
font-family: 'Mundo Sans W02 Italic', Arial;
font-weight:bold;
line-height: 16px;
}

.kilian-bluebox-spacer {

	padding: 0px 17px 19px;

	float:left;
	}
	
	
	
	
	
	
	
	.lbulb {
		background-image:url('lbulb.png');
		background-repeat:no-repeat;
		

background-position: 0% 0%;
display: block;
float: left;
font-style: normal;
font-weight: normal;
height: 64px;
line-height: normal;
margin-right: 20px;
margin-top: 0px;
text-decoration: none;
vertical-align: baseline;
width: 43px;


		}
		
		
		
			.checkmark1 {
		background-image:url('checkmark1.png');
		background-repeat:no-repeat;

width: 20px;
height: 30px;
margin-top: 0px;

margin-right: 10px;
display: block;
float:left;
		}
		
		.s1-right-text-item {
			font-weight:bold;
			letter-spacing:0px !important;
			font-size:16px !important;
			}
			
		.kilian-bluebox-undertitle{
			font-size: 12px;
	line-height: 16px;		
	height: 50px; 
			}
			
			.s2-top-right {
				padding-right: 40px;
				}
				/*
				.soc {
					
					background-repeat:no-repeat;
					width:60px;
					height:60px;
					cursor: pointer;
	display:inline-table;
					}
				.soc1{
					background-image:url(images/soc_01.png);
				
					}
					
					.soc2{
					background-image:url(images/soc_02.png);
					
										}
					.soc4{
					background-image:url(images/soc_04.png);
					
										}
									*/	
										
										.kilian-lowbox {
											
											
											background-color:#f0f0f0; height:180px; margin:0px; margin: 0px 0px 0px 0px; padding: 16px 20px 6px 20px;
position: relative;
border: 2px solid #dadad5;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
-moz-box-shadow: inset 0 0 20px #dddddd;
-webkit-box-shadow: inset 0 0 20px #dddddd;
box-shadow: inset 0 0 20px #dddddd;
											}
											
											
											.invitation-step2 .invi-step2-box {
												padding: 26px 20px 6px 20px;
												
											}
											
											
											
											.invitation-step2 .invi-step2-box .animal-car {
top: 644px;
left: -215px;
width: 1291px;
height: 284px;
position: absolute;

}




.info, .success, .warning, .failmess, .validation {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
}
.info {
color: #00529B;
background-color: #BDE5F8;
/*background-image: url('info.png');
*/}
.success {
color: #4F8A10;
background-color: #DFF2BF;
/*background-image:url('success.png');
*/}
.warning {
color: #9F6000;
background-color: #FEEFB3;
/* background-image: url('warning.png');
*/}
.failmess {
color: #D8000C;
background-color: #FFBABA;
/*background-image: url('error.png');
*/}


.redfield {
	/*background-color:#E0D0D0 !important; */
	background-color:#FFFF9C;
}













  .showup1 {

  margin-bottom:2px
  
  }
  .showup2 {
 display:none; 
  font-weight:bold; 
  font-size:20px; 
  border-width:3px; 
  border-color:#BFD19F; 
  color:#7FAA30; 
  background-color:#CFE2BF; 
  color: #4F8A10;
background-color: #DFF2BF;
  text-align:center;  
  border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
height:30px;
  }
  .showup3  {
  display:none; 
  margin-bottom:4px; !important
  height:60px;; 
  }
  
  